#view {
  min-width: 750px;
  overflow-y: auto;
  padding: 10px;
}

#view .stickyButtons {
  display: inline-grid;
  gap: 5px;
  height: 0;
  left: 100%;
  padding: 10px 25px;
  position: sticky;
  top: 20px;
  z-index: 9;
}

#view .stopDemand,
#view .demandStopped,
#view .pauseTimeSlices,
#view .deleteTimeSlices {
  border: 1px solid;
  color: whitesmoke;
  cursor: pointer;
  display: block;
  height: 30px;
  outline: none;
  text-decoration: none;
}

#view .stopDemand:active,
#view .demandStopped:active,
#view .pauseTimeSlices:active,
#view .deleteTimeSlices:active {
  margin-bottom: -1px;
  margin-top: 1px;
}

#view .stopDemand {
  background-color: orangered;
  border-color: firebrick;
}

#view .stopDemand:hover {
  background-color: tomato;
}

#view .stopDemand:active {
  box-shadow: inset 4px 4px 2px -3px firebrick;
}

#view .demandStopped {
  background-color: steelblue;
  border-color: darkslategray;
}

#view .demandStopped:active {
  box-shadow: inset 4px 4px 2px -3px darkslategray;
}

#view .pauseTimeSlices {
  background-color: dimgray;
  border-color: black;
}

#view .pauseTimeSlices:hover {
  background-color: gray;
}

#view .pauseTimeSlices:active {
  box-shadow: inset 4px 4px 2px -3px black;
}

#view .deleteTimeSlices {
  background-color: darkmagenta;
  border-color: purple;
}

#view .deleteTimeSlices:hover {
  background-color: blueviolet;
}

#view .deleteTimeSlices:active {
  box-shadow: inset 4px 4px 2px -3px purple;
}

#view .slice {
  background: lavender;
  margin: 5px 0;
  padding: 10px;
}

#view .reason {
  color: slategray;
  margin: 10px 5px;
  text-transform: capitalize;
}

#view .grid {
  background: lightgray;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  grid-auto-rows: auto 1fr;
  max-width: 500px;
  padding: 5px;
  width: 100%;
}

#view .demand {
  grid-column: 1 / -1;
  margin: 10px 0;
}

#view .square {
  background: azure;
  color: darkgray;
  min-height: 50px;
  min-width: 50px;
  position: relative;
  text-align: center;
  transition: background 250ms linear;
}

#view .square::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: 80%;
}

#view .square.open {
  background: greenyellow;
}

#view .square.used {
  background: darkorchid;
  color: white;
}

#view .square.unused {
  background: cadetblue;
  color: white;
}

#view .content {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#view .square > small {
  border: solid 2px transparent;
  color: lightgray;
  line-height: 1;
  position: absolute;
}

#view .index {
  left: 0;
  top: 0;
}

#view .times-used {
  right: 0;
  top: 0;
}

#view .duration {
  bottom: 0;
  left: 0;
  width: 100%;
}
